<div class="field">
    <label for="select_locale" class="label">{{ _f('Select Locale') }}</label>
    <div class="control">
        <div class="select is-fullwidth">
            <select id="select_locale" onchange="location.href=this.value;">
                <option selected>{{ _f('Locale') }}</option>
                {% for locale in supportedLocales() %}
                    {% if getUserLocale() != locale %}
                        <option value="{{ url_for('translate', { 'lang': lang }) }}{{ locale }}">{{ nativeLanguageName(locale)|capitalize }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>