{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-centered">
                    {{ _f('Change password') }}
                </h3>

                {% include 'components/status.twig' %}

                <form action="{{ url_for('account.password') }}" method="post">
                    {{ csrf() | raw }}
                    <input type="hidden" value="{{ user.email }}" autocomplete="username">
                    <div class="field">
                        <label for="current_password" class="label">{{ _f('Current password') }}</label>
                        <div class="control">
                            <input class="input{{ errors.current_password ? ' is-danger' : '' }}" type="password"
                                   name="current_password" id="current_password">
                        </div>

                        {% if errors.current_password %}
                            <p class="help is-danger">
                                {{ errors.current_password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="password" class="label">{{ _f('New password') }}</label>
                        <div class="control">
                            <input class="input{{ errors.password ? ' is-danger' : '' }}" type="password"
                                   name="password" id="password" autocomplete="new-password">
                        </div>

                        {% if errors.password %}
                            <p class="help is-danger">
                                {{ errors.password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="confirm_password" class="label">{{ _f('Confirm Password') }}</label>
                        <div class="control">
                            <input class="input{{ errors.confirm_password ? ' is-danger' : '' }}" type="password"
                                   name="confirm_password" id="confirm_password" autocomplete="new-password">
                        </div>

                        {% if errors.password %}
                            <p class="help is-danger">
                                {{ errors.confirm_password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="control">
                        <button type="submit" class="button is-info">
                            {{ _f('Change') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
