{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-centered">
                    {{ __f('Sign up') }}
                </h3>

                {% include 'components/status.twig' %}

                <form action="{{ url_for('auth.signup') }}" method="post">
                    <div class="field">
                        <label for="email" class="label">{{ __f('Email') }}</label>
                        <div class="control">
                            <input class="input{{ errors.email ? ' is-danger' : '' }}" type="text" name="email"
                                   id="email" value="{{ old.email }}" autocomplete="username">
                        </div>

                        {% if errors.email %}
                            <p class="help is-danger">
                                {{ errors.email | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="username" class="label">{{ __f('Username') }}</label>
                        <div class="control">
                            <input class="input{{ errors.username ? ' is-danger' : '' }}" type="text"
                                   name="username" id="username" value="{{ old.username }}">
                        </div>

                        {% if errors.username %}
                            <p class="help is-danger">
                                {{ errors.username | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="password" class="label">{{ __f('Password') }}</label>
                        <div class="control">
                            <input class="input{{ errors.password ? ' is-danger' : '' }}" type="password"
                                   name="password" id="password" autocomplete="new-password">
                        </div>

                        {% if errors.password %}
                            <p class="help is-danger">
                                {{ errors.password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="confirm_password" class="label">{{ __f('Confirm Password') }}</label>
                        <div class="control">
                            <input class="input{{ errors.confirm_password ? ' is-danger' : '' }}" type="password"
                                   name="confirm_password" id="confirm_password" autocomplete="new-password">
                        </div>

                        {% if errors.password %}
                            <p class="help is-danger">
                                {{ errors.confirm_password | first }}
                            </p>
                        {% endif %}
                    </div>

                    {% include 'components/locales.twig' %}

                    <div class="control has-text-centered">
                        <button type="submit" class="button is-info">
                            {{ __f('Sign up') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
