{% set link = full_url_for('auth.password.activate', {}, {'email': user.email, 'code': code}) %}

<p>
    {{ _f('Hi') }} {{ user.username }},
</p>

<p>
    {{ _f('Click the link below to confirm your email and activate your account.') }}
</p>
<p>
    <a href="{{ link }}">{{ link }}</a>
</p>

<p>
    {{ settings.site_name }} {{ _f('Staff') }}
</p>
